body {
    background-color: #b9b8c2;
  }
  /* Color scheme: Oranges. */
div.tb1 {
  background-color: #db7c26;
  text-align: center;
  border: 10px #b5ca8d;
  text-decoration-color: #426b69;
}
div.tb2 {
  background-color: #db7c26;
  text-align: center;
  border: 10px #b5ca8d;
  text-decoration-color: #426b69;
}
div.run{
  background-color: #e49f61;
  text-align: center;
  width:95vw;
  height:100vh;
  z-index: 1;
  padding: 10vw;

}
.center{
  margin: auto;
}
#profEventButt{
  background-color: #b5ca8d;
  border: 10px #b9b8c2;
  height: 7vh;
  width: 10vw;
  margin: auto;
}
#eventDiv{
  border: 5px #b9b8c2;
  background-color: #426b69;
}
span{
border: #426b69 2px;
right:4px;
white-space: nowrap;
display: block;
right: 10vw;
border: 4px #426b69;
}
.form-group {
  width: 90vw;
  background-color: #e49f61;
  width: auto;
}

#eventFind, #eventDiv {
  border: 2px solid black;
}


.navbar-custom {
  background-color: #ff8C00
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-item.active .nav-link 
{
  color: #eff6f7;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
  color: #ff7c00
}

.navbar-center
{
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-bottom {
  background-color: #ff7c00;
  height:7vh;
}

.footernote {
  width:25vw;
  text-align:center;
}

.icons {
  height:5vh;
  margin-top:1vh;
}

#mycalendar {
  position: absolute;
  left: 1.2%;
  height: 94vh;
  width: 97vw;
}

#links {
  position: absolute;
  left: 5%;
  top: 50%;
}

#result {
  background-color: antiquewhite;
  position: absolute;
  left: 50%;
  top: 50%;
}